<mat-card>
    <mat-card-header>
        <mat-card-title>Weather Response</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>Location: {{weatherResponse.location}}</div>
        <div>Time: {{weatherResponse.time}}</div>
        <div>Wind Speed: {{weatherResponse.windSpeed}}</div>
        <div>Wind Degree: {{weatherResponse.windDegree}}</div>
        <div>Visibility: {{weatherResponse.visibility}}</div>
        <div>Sky Conditions: {{weatherResponse.skyConditions}}</div>
        <div>Temperature (Celsius): {{weatherResponse.temperatureCelsius}}</div>
        <div>Temperature (Fahrenheit): {{weatherResponse.temperatureFahrenheit}}</div>
        <div>Dew Point: {{weatherResponse.dewPoint}}</div>
        <div>Relative Humidity: {{weatherResponse.relativeHumidity}}</div>
        <div>Pressure: {{weatherResponse.pressure}}</div>
    </mat-card-content>
</mat-card>